body {

    background-color: lightblue;
}
h1 {
    color: navy;
    margin-left: 20px;
}

.green-circle {
  display: inline-block;
  background: black;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin: 0;
  background: radial-gradient(circle at 3px 3px, #99FF66, #000);
}
.red-circle {
  display: inline-block;
  background: black;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin: 0;
  background: radial-gradient(circle at 3px 3px, #FF0000, #000);
}
.yellow-circle {
  display: inline-block;
  background: black;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin: 0;
  background: radial-gradient(circle at 3px 3px, #FFFF33, #000);
}
.inline-form{
display: inline-block;
}
/*New*/

/* Page */
body {
    background: #abebff;
    font: 16px "Helvetica Neue", sans-serif;
}
h1 {
    margin: auto;
}
a {
    text-decoration: none;
}

/* Top bar */
#topbar {
    background: #fff;
    padding: 1em;
    margin-bottom: 2em;
}
.title {
    color: #363636;
}

/* Content */
#content{
    background: #fff;
    max-width: 50%;
    margin: 0 auto;
}
#main-nav {

}
#main-nav a {
    display: block;
    padding: 1em;
    color: #363636;
}
#main-nav a:hover{
    background: #1f9ac0;
    color: #fff;
}
#main-nav a:not(:last-child){
    border-bottom: 1px solid #e5e5e5;
}
